.Pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.pokemonId {
    position: relative;
    width: min(800px, 100%);
    text-align: center;
    border: 1px solid #D3D3D3;
    box-shadow: 8px 2px 16px rgba(0, 0, 0, 0.15);
}
.pokemonId-header {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 160px;
    width: 100%;
    background-color: aquamarine;
    margin: 5px;
    width: calc(100% - 10px);
}
.pokemonId-img {
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
}
.pokemonId-id {
    font-size: 25px;
    margin: 10px 0 5px 0;
}
.pokemonId-name {
    margin: 0;
    text-transform: capitalize;
}
.pokemonId-features {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.pokemonId-feature {
    font-size: 12px;
}
.pokemonId-feature-name {
    margin-top: 10px;
}
.pokemonId-feature-value {
    margin-top: 4px;
    font-weight: bold;
}
.pokemonId-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.pokemonId-info-container {
    width: max(45%, 300px);
}
.pokemonId-info-container:first-child {
    color: #fff;
}
.pokemonId-info-data {
    display: flex;
    justify-content: space-evenly;
    gap: 10pz;
}
.pokemonId-info-title {
    margin-bottom: 0;
    color: #000 ;
}
.pokemonId-info-value {
    border: 1px solid #D3D3D3;
    width: 100%;
    padding: 4px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
}
.pokemonId.stats {
    padding: 0 25px 30px 25px;
}
.pokemonId-stats-title {
    text-align: left;
}.pokemonId-stat-header {
    display: flex;
    justify-content: space-between;
}
.pokemonId-stat-name {
    text-transform: capitalize;
}
.pokemonId-stat-bar {
    height: 20px;
    width: 100%;
    background-color: #f6f6f6;
}
.pokemonId-stat-barProgress {
    background: linear-gradient(90deg, #fcd676, #e6901e);
    height: 20px;
    width: 60%;
}
/* Background types */
.bg-lg-normal {
    background: linear-gradient(180deg #735259, #000);
}
.bg-lg-fighting {
    background: linear-gradient(180deg, #964024, #000);
}
.bg-lg-flying {
    background: linear-gradient(180deg, #beb14c, #000);
}
.bg-lg-poison {
    background: linear-gradient(180deg, #583184, #000);
}
.bg-lg-ground {
    background: linear-gradient(180deg, #654008, #000);
}
.bg-lg-rock {
    background: linear-gradient(180deg, #7e7e7e, #000);
}
.bg-lg-bug {
    background: linear-gradient(180deg, #e52d2d, #000);
}
.bg-lg-ghost {
    background: linear-gradient(180deg, #323569, #000);
}
.bg-lg-steel {
    background: linear-gradient(180deg, #5e736c, #000);
}
.bg-lg-fire {
    background: linear-gradient(180deg, #f96d6f, #000);
}
.bg-lg-water {
    background: linear-gradient(180deg, #133258, #000);
}
.bg-lg-grass {
    background: linear-gradient(180deg, #7ec6c5, #000);
}
.bg-lg-electric {
    background: linear-gradient(180deg, #0c1395, #000);
}
.bg-lg-psychic {
    background: linear-gradient(180deg, #e52d2d, #000);
}
.bg-lg-ice {
    background: linear-gradient(180deg, #6fbedf, #000);
}
.bg-lg-dragon {
    background: linear-gradient(180deg, #478a93, #000);
}
.bg-lg-dark {
    background: linear-gradient(180deg, #030706, #000);
}
.bg-lg-fairy {
    background: linear-gradient(180deg, #971b45, #000);
}
.bg-lg-unknown {
    background: linear-gradient(180deg, #696767, #000);
}
.bg-lg-shadow {
    background: linear-gradient(180deg, #6c31a3, #000);
}